:root {
	--dark-bg: var(--nord0);
	--dark-bg-raised: var(--nord1);
	--dark-bg-highlighted: var(--nord3);
	--dark-fg: var(--nord4);
	--dark-fg-lightened: var(--nord6);

	--light-bg: var(--nord6);
	--light-bg-raised: var(--nord5);
	--light-bg-highlighted: var(--nord4);
	--light-fg: var(--nord0);
	--light-fg-lightened: var(--nord3);
	--warning: var(--nord11);

	--nord0: #2e3440;
	--nord1: #3b4252;
	--nord2: #434c5e;
	--nord3: #4c566a;
	--nord4: #d8dee9;
	--nord5: #e5e9f0;
	--nord6: #eceff4;
	--nord7: #8fbcbb;
	--nord8: #88c0d0;
	--nord9: #81a1c1;
	--nord10: #5e81ac;
	--nord11: #bf616a;
	--nord12: #d08770;
	--nord13: #ebcb8b;
	--nord14: #a3be8c;
	--nord15: #b48ead;

	--normal: #a9a77a;
	--fire: #ee8131;
	--water: #6391f0;
	--electric: #f8d02c;
	--grass: #8ac74c;
	--ice: #97d9d6;
	--fighting: #c23e28;
	--poison: #a34ea1;
	--ground: #e3bf65;
	--flying: #a99ff3;
	--psychic: #f95588;
	--bug: #a7b91a;
	--rock: #b7a136;
	--ghost: #735798;
	--dragon: #7f35fc;
	--dark: #705747;
	--steel: #b8b7ce;
	--fairy: #d686ad;

	.ice {
		background-color: var(--ice);
	}

	.poison {
		background-color: var(--poison);
	}

	.ground {
		background-color: var(--ground);
	}

	.flying {
		background-color: var(--flying);
	}

	.psychic {
		background-color: var(--psychic);
	}

	.bug {
		background-color: var(--bug);
	}

	.rock {
		background-color: var(--rock);
	}

	.ghost {
		background-color: var(--ghost);
	}

	.dragon {
		background-color: var(--dragon);
	}

	.dark {
		background-color: var(--dark);
	}

	.steel {
		background-color: var(--steel);
	}

	.fairy {
		background-color: var(--fairy);
	}

	.fighting {
		background-color: var(--fighting);
	}

	.grass {
		background-color: var(--grass);
	}

	.electric {
		background-color: var(--electric);
	}

	.water {
		background-color: var(--water);
	}

	.fire {
		background-color: var(--fire);
	}

	.normal {
		background-color: var(--normal);
	}
}

[data-theme='dark'] {
	--bg-color: var(--dark-bg);
	--bg-color-raised: var(--dark-bg-raised);
	--bg-color-highlighted: var(--dark-bg-highlighted);
	--font-color: var(--dark-fg);
	--font-color-lightened: var(--dark-fg-lightened);
}

[data-theme='light'] {
	--bg-color: var(--light-bg);
	--bg-color-raised: var(--light-bg-raised);
	--bg-color-highlighted: var(--light-bg-highlighted);
	--font-color: var(--light-fg);
	--font-color-lightened: var(--light-fg-lightened);

	.pokemon {
		// Can't put it in the actual component for whatever reason. Sadge.
		box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
	}
}

body {
	font-family: 'Titillium Web', sans-serif;
	background-color: var(--bg-color);
	color: var(--font-color);

	transition: color 1s ease;
	transition: background-color 1s ease;
}

.secondary {
	color: var(--font-color-lightened);
}

button {
	background-color: transparent;
	color: var(--font-color);
	border: none;
	cursor: pointer;
}
